.button {
  padding: 8px 10px;
  outline: none;
  &:hover {
    background: $lightGray-color;
  }
  cursor: pointer;
  position: relative;
  width: 100%;
  border: none;
  &.button--add-new {
    background: $success;
    margin-top: 20px;
    color: $white-color;
  }
  &.button--search {
    background: $warning;
    margin-top: 10px;
  }
  &.button--hold {
    &:hover {
      background: $blue-color;
      &:disabled {
        background: rgba(0,0,0, .5);
        color: $black-color;
      }
    }
  }
  &.button--cancel {
    &:hover {
      background: $danger;
      &:disabled {
        background: rgba(0,0,0, .5);
        color: $black-color;
      }
    }
  }
  &.button--done {
    &:hover {
      background: $success;
      &:disabled {
        background: rgba(0,0,0, .5);
        color: $black-color;
      }
    }
  }
  &.button--edit {
    &:hover {
      background: $warning;
      &:disabled {
        background: rgba(0,0,0, .5);
        color: $black-color;
      }
    }
  }
}
