// colors
$blue-color: #46a1de;
$red-color: #d64a4b;
$green-color: #2ecc71;
$yellow-color: #ffc107;
$white-color: #fff;
$black-color: #000;
$lightGray-color: #bdc3c7;
$bg-color: #f1f1f1;

$success: $green-color;
$danger: $red-color;
$warning: $yellow-color;

// fonts
$brand-font: "Rubik", sans-serif;
